<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>formulario</h2>
    <h3>Usuarios</h3>
    <ul>
      <% usersList.map(user=>{%>
        <li>
          <%= user.username %>
          <% if (user.image){ %>
            <img src="/images/userImg/<%= user.image %> " alt="" width="200px" height="200px" style="border-radius:100% ;">
          <% } %>  
          <form method="post" action="/users/<%= user.id %>?_method=delete">
            <button type="submit">Eliminar</button>
          </form>
          <form method="get" action="/users/<%= user.id %>/edit">
            <button type="submit">Editar</button>
          </form>
        </li>
      <% }) %> 
    </ul>
    <h3>crear usuario</h3>
    <form method="post" action="/users/create" enctype="multipart/form-data">
      <label for="nombre">nombre</label>
      <input type="text" name="username" id="nombre">
      <br>
      <label for="password">contraseña</label>
      <input type="password" name="password" id="password">
      <br>
      <label for="edad">edad</label>
      <input type="number" name="age" id="edad" min="0">
      <br>
      <label for="userImage">edad</label>
      <input type="file" name="userImage" id="image">
      <input type="submit" value="enviar">
      <br>
      <input type="reset" value="Reset">
    </form>
  </body>
</html>
